<%- include("templates/head", {titulo: "Login | Wetapas"}) %> 
<link rel="stylesheet" href="../public/css/views/carrito.css">
</head>
<body>
    <% if(carritoExiste == true && locals.user) {%>
        <%- include("templates/cabecera", {user, totalItems}) %> 
    <% } else if(locals.user) {%>
            <%- include("templates/cabecera", {user}) %> 
    <% } else if(carritoExiste == true){ %>
            <%- include("templates/cabecera", {totalItems}) %>
    <% } else if (carritoExiste == false && !locals.user) { %>
            <%- include("templates/cabecera") %> 
    <% } %>
    <div class="container">
        <h1 class="h1-title">Carrito</h1>
       <% if(productos) {%>
        <% if(productos.length > 0) {%> 
        <div class="row my-4 gap-3 align-items-center">
            <% for (let i = 0; i < productos.length; i++) { %>

                <div class="product-card col">
                    <div class="product-body">
                        <div class="row centrar">
                            <div class="col-6">
                                <div class="img-center">

                                    <img src="<%= productos[i].item.imagen %> " alt="" srcset="" class="product-img">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="product-text">
                                    <h4 class="product-name"><%= productos[i].item.nombre %></h4>
                                    <div class="product-extra">
                                        <p class="precio"><%= parseFloat(productos[i].item.precio).toFixed(2) %>€</p>
                                        <p class="cantidad">x <%= productos[i].cantidad %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="/carrito/remove?id=<%=productos[i].item.id%>" class="remove-item"><span class="iconify" data-icon="bxs:trash-alt"></span></a>
                    </div>
                    <div class="product-footer">
                        <p class="total-precio">Precio total: <%= parseFloat(productos[i].precio).toFixed(2) %>€</p>
                    </div>
                </div>
            <% } %> 
        </div>
        <% }else{ %>
            <h2 class="text-no-product"><span class="iconify warning" data-icon="ant-design:warning-filled"></span> No hay productos en el carrito <span class="iconify" data-icon="ant-design:warning-filled"></span> </h2>
        <% } %>  
        <% } %>  
        
        
        
    </div>
    <div class="info-extra">
        
            <div class="text-blanco">
                <% if(totalItems) {%>
                    <h4 class="info-text">Hay <%=totalItems%> productos</h4>
                <% } else { %> 
                    <h4>Hay 0 productos</h4>
                <% }%>
                
            </div>
            <div class="text-blanco">
                <% if(totalPrice) {%>
                    <h4 class="info-text">El precio total es: <%= parseFloat(totalPrice).toFixed(2)%>€</h4>
                <% }else{ %>
                    <h4>El precio total es: 0€</h4>
              <%  } %> 
            </div>
            <div class="">
                <a href="/carrito/direcciones" class="btn-purchase">Comprar</a>
            </div>
    </div>
    <%- include("templates/footer") %> 
    <script src="../../public/js/menu-cabecera.js"></script>
</body>