<%- include("templates/head", {titulo: "Direcciones | Wetapas"}) %> 
<link rel="stylesheet" href="/css/index/style.css">
</head>
<body>
    <h1>Registro</h1>

    <% if(direcciones){ %> 
    <form action="/carrito/direcciones" method="post">
        <select name="idDireccion">
            <% direcciones.forEach(element => { %>
                <% console.log(element.ciudad) %> 
                <option value="<%= element.id%>"><%= element.ciudad %>, <%= element.postcode %>, <%= element.direccion1 %>, <%= element.firstName %> <%= element.lastName %></option>
           <% }); %> 
        </select>
        <button type="submit">Continuar</button>
    </form>
    <% } %> 
    

    <form action="/carrito/direcciones" method="post">
        <label for="name">Nombre</label>
        <input type="text" name="firstName" id="name">
        <label for="apellido">Apellidos</label>
        <input type="text" name="lastName" id="apellido">
        <label for="tel">Telefono</label>
        <input type="number" name="telefono" id="tel" placeholder="+34">
        <label for="dni">Dni</label>
        <input type="text" name="dni" id="dni">
        <label for="pais">País</label>
        <select name="pais" id="pais">
            <option value="España">España</option>
        </select>
        <label for="provincia">Provincia</label>
        <select name="provincia" id="provincia">
            <option value="Madrid">Madrid</option>
        </select>
        <label for="ciudad">Ciudad</label>
        <select name="ciudad" id="ciudad">
            <option value="Madrid">Madrid</option>
            <option value="Alcorcón">Alcorcón</option>
        </select>
        <label for="postcode">Código postal</label>
        <input type="number" name="postcode" id="postcode">

        <label for="dir">Dirección</label>
        <input type="text" name="direccion" id="dir">
        <button type="submit">Enviar</button>
    </form>
    <% if(this.mensaje == true) {%> 
    <p><%= mensaje %></p>
    <% } %> 


</body>