<%- include("templates/head", {titulo: "Direcciones | Wetapas"}) %> 
<link rel="stylesheet" href="../public/css/views/direcciones.css">
</head>
<body>

    <% if(locals.totalItems && locals.user) {%>
        <%- include("templates/cabecera", {user, totalItems}) %> 
    <% } %> 
    <h1 class="h1-title">Dirección</h1>

   

        <% if(direcciones){ %> 
        <form action="/carrito/direcciones" method="post" class="exists-dir">
            <div class="container">
            <div class="row row-cols-1 g-3 mb-4" id="exist-form">
            <% direcciones.forEach(element => { %>
                        <div class="a-direction col">
                            <div class="direction-flex">
                                <input class="radio-input" type="radio" name="idDireccion" id="<%= element.id%>" value="<%= element.id%>">
                                <label for="<%= element.id%>"  class="direction-body">
                                       <h4 class="direction-title"><%= element.ciudad %>, <%= element.postcode %></h4>
                                       <h5 class="direction-text"><%= element.direccion1 %>, <%= element.firstName %> <%= element.lastName %></h5>
                                </label>
                            </div>
                        </div>
                        
                        <% }); %> 
                    </div>
                    
                    <div class="row row-cols-1 mb-4" id="row-new-form">
                        <div class="new-dir d-none" id="new-form">
                            
                            <h4 class="new-form-title">Nueva direccion</h4>

                            <div class="nombre-input">
                                <label for="nombre" class="text-label">Nombre*</label>
                                <input type="text" name="nombre" id="nombre" class="medium-input" >
                            </div>

                            <div class="apellido-input">
                                <label for="apellido" class="text-label">Apellidos*</label>
                                <input type="text" name="apellido" id="apellido" class="medium-input" >
                            </div>

                            <div class="apellido-input">
                                <label for="dni" class="text-label">Dni*</label>
                                <input type="text" name="dni" id="dni" class="small-input" >
                            </div>


                            <div class="pais-input">
                                <label for="pais" class="text-label">País*</label>
                                <select name="pais" id="pais" class="small-input" >
                                    <option value="España">España</option>
                                </select>
                            </div>

                            <div class="provincia-input">
                                <label for="provincia" class="text-label">Provincia*</label>
                                <select name="provincia" id="provincia" class="small-input" >
                                    <option value="Madrid">Madrid</option>
                                </select>
                            </div>

                            <div class="ciudad-input">
                                <label for="ciudad" class="text-label">Ciudad*</label>
                                <select name="ciudad" id="ciudad" class="small-input" >
                                    <option value="Alcorcón">Alcorcón</option>
                                    <option value="Madrid">Madrid</option>
                                </select>
                            </div>

                            <div class="postcode-input">
                                <label for="postcode" class="text-label">Código postal*</label>
                                <input type="number" name="postcode" id="postcode" class="small-input" >
                            </div>

                            <div class="direccion-input">
                                <label for="direccion" class="text-label">Dirección*</label>
                                <input type="text" name="direccion" id="direccion" class="medium-input" >
                            </div>

                            <div class="telefono-input">
                                <label for="telefono" class="text-label">Teléfono*</label>
                                <input type="number" name="telefono" placeholder="+34" id="telefono" class="medium-input" >
                            </div>

                            <% if(this.mensaje == true) {%> 
                                <p class="error-msg"><%= mensaje %></p>
                            <% } %>

                        </div>
                    </div>
                </div>

                <% if(locals.error) {%> 
                    <div class="alert alert-danger alerta" role="alert" id="alert">
                        <%= error %> 
                    </div>
                <% } %> 
                    
                <div class="info-extra" >
        
        
                        <button type="" class="add-direction">Add</button>
                        
                        <button type="submit" class="submit-btn">Continuar</button>
                </div>
        </form>
        <% } %> 

    <%- include("templates/footer") %>
    <script src="../public/js/direcciones.js"></script>
    <script src="../../public/js/menu-cabecera.js"></script>
    <script src="../public/js/alerts.js"></script>
</body>