<%- include("templates/head", {titulo: "Productos | Wetapas"}) %> 
</head>
<body>
    <h1>Productos</h1>

    <% for (let i = 0; i < productos.length; i++) { %>
        <img src=<%=productos[i].imagen%> alt="" srcset="">
        <h3><%= productos[i].nombre%></h3>
        <h5><%= productos[i].precio%>€</h5>
        <a href="/productos/<%=productos[i].id%>">Más detalles</a>
        <a href="/productos/carrito/add?id=<%=productos[i].id%>">Comprar</a>
    <% } %> 
</body>