<%- include("templates/head", {titulo: "Productos | Wetapas"}) %>
<link rel="stylesheet" href="../public/css/views/productos.css"> 
</head>
<body>
    <% if(locals.totalItems && locals.user) {%>
        <%- include("templates/cabecera", {user, totalItems}) %> 
        <% } else if(locals.user) {%>
            <%- include("templates/cabecera", {user}) %> 
        <% } else if(locals.totalItems){ %>
            <%- include("templates/cabecera", {totalItems}) %>
        <% } else if (!locals.totalItems && !locals.user) { %>
            <%- include("templates/cabecera") %> 
        <% } %>
    <main class="main">

        <h1 class="text-center text-title text-rojoOscuro">Tapas únicas</h1>

        <p class="text-text text-center text-rojoOscuro">Raciones pensadas para tapear al menos dos personas (300gr-400gr)</p>

        <div class="container">
            <div class="row ">
                <% for (let i = 0; i < productos.length; i++) { %>
                    <div class="product-card col-md-12 col-lg-4 mx-auto mt-4">
                        <a href="/productos/<%=productos[i].id%>" class="text-decoration-none mb-0 pb-0">
                            <img src="<%=productos[i].imagen%>" alt="" srcset="" class="product-img">
    
                            <div class="product-info">
                                <p class="product-title"><%= productos[i].nombre%></p>
                                <!-- <div class="linea"></div> -->
                            </div>
                        </a>
                        <div class="linea-card"></div>
                            <div class="d-flex">  
                                <p class="precio"><%= parseFloat(productos[i].precio).toFixed(2);%>€</p>
                                <div class="add-box">

                                    <a href="/carrito/add?id=<%=productos[i].id%>" class="product-btn-drc">Add</a>
                                </div>
                            </div>
                    </div>
                <% } %> 
            </div>
        </div>
    
    </main> 

    <%- include("templates/footer") %> 
    <script src="../../public/js/menu-cabecera.js"></script>
</body>